.counter-container {
  display: flex;
  align-items: center;
  margin-top: 15%;
}

.counter-button {
  background-color: #fdc913;
  border: none;
  color: black;
  padding: 10px;
  cursor: pointer;
  width: 40px;
}

.counter-value {
  margin: 0 10px;
  font-size: medium;
  width: 20px;
}
